<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="title">
            <h1>Contact List</h1>

            <input type="text" v-model="searchText" placeholder="Enter a name">

            <div class="alert-msg" v-if="listResult.length <= 0">
                No contacts found!
            </div>
        </div> 

        <ul>
            <li v-for="item, index in listResult">
                <div class="card">
                    <address>
                        <img class="card-img" v-bind:src="item.picture" alt="item.firstName">
                        <br>
                        <strong>{{item.firstName}} {{item.lastName}}</strong>
                        <br><strong>Email:</strong> {{item.email}}
                        <br><strong>City:</strong> {{item.city}}                    
                    </address>

                    <button class="button-delete" v-on:click="removeContact(index)">Delete</button>
                </div>                
            </li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>