<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
</head>

<body>
    <div id="app">
        <h1>Contact List</h1>

        <input type="text" v-model="searchText" placeholder="Enter a name">
       
        <button v-on:click="getData">Load Data</button>

        <div v-if="listResult.length <= 0">
            No contacts found!
        </div>

        <ul>
            <li v-for="item, index in listResult">
                <address>
                    <img v-bind:src="item.picture" alt="item.firstName">
                    <br>
                    {{item.firstName}} {{item.lastName}}
                    <br>Email: {{item.email}}
                    <br>City: {{item.city}}                    
                </address>

                <button v-on:click="removeContact(index)">Delete</button>
            </li>
        </ul>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>